@import '../abstracts/variables.scss';

button {
    font-size: 14px;
    padding: .6rem 1.2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    box-shadow: 0 4px 14px 0 rgba(113, 97, 245, 0.39); 
    
    &.full_width {
        width: 100%;
    }
}

.button_primary {
    background: $color_primary_500;
    color: white;

    &:hover {
        background: $color_primary_400;
    }
}

.button_secondary {
    background: $color_secondary_500;
    color: white;

    &:hover {
        background: $color_secondary_400;
    }
}