section {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto;
    gap: $spacing_large;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: auto;
        gap: $spacing_medium;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        gap: $spacing_small;
    }
}